[submodule "habitat-api"]
	path = habitat-api
	url = git@gitlab.ciirc.cvut.cz:steidsta/aag-habitat-api.git
[submodule "habitat-sim"]
	path = habitat-sim
	url = git@gitlab.ciirc.cvut.cz:steidsta/aag-habitat-sim.git
